import /init.microtrust.rc

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    mkdir /persist 0700 root root
    mount ext4 /dev/block/by-name/persist /persist
    mkdir /persist/OFRP
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1
    setprop crypto.ready 1

# For vibrator
    write /sys/class/leds/vibrator/trigger "transient"
    chown system system /sys/class/leds/vibrator/trigger
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state

#flashlight
    chown system system /sys/class/leds/flashlight/trigger
    chown system system /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/flashlight/max_brightness

    chown system system /sys/class/leds/torch-light0/trigger
    chown system system /sys/class/leds/torch-light0/brightness
    chown system system /sys/class/leds/torch-light0/max_brightness

on early-fs
    # Once metadata has been mounted, we'll need vold to deal with userdata checkpointing
    start vold

on fs
    write /proc/bootprof "INIT:fs"
    install_keyring

# mount fstab
    write /proc/bootprof "INIT:Mount_START"
    write /sys/kernel/tracing/trace_marker "B|1|Mount"
    mount_all --early
    exec /system/bin/tune2fs -O has_journal -u 10010 -r 4096 /dev/block/by-name/userdata
    write /sys/kernel/tracing/trace_marker "E"
    write /proc/bootprof "INIT:Mount_END"

on post-fs
    start boot-mtk
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

    on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

# FSTAB_RAW2(lk2,bootloader2) of fstab.in.emmc, but without bootloader2 mount point
    symlink /dev/block/by-name/lk1 /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2

# Fix ro.vendor.mtk_ufs_support remove issue of recovery mode
on property:vendor.mtk.boot0_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot0

on property:vendor.mtk.boot1_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot1

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymint-beanpod /vendor/bin/hw/android.hardware.security.keymint@1.0-service.beanpod
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.vibrator-default /vendor/bin/hw/android.hardware.vibrator-service.mediatek
    class hal
    user root
    group root system
    seclabel u:r:recovery:s0

service mountfix /sbin/sh /system/bin/mount.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:recovery:s0
    
on property:sys.usb.ffs.ready=1
    start mountfix

on property:hwservicemanager.ready=true
    start teei_daemon
    start gatekeeper-1-0
    start keymint-beanpod
    start keymaster
    
on property:vendor.sys.listener.registered=true
    start teei_daemon
    start gatekeeper-1-0
    start keymint-beanpod
    start keymaster
   
on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop keymint-beanpod
    stop gatekeeper-1-0
    stop keymaster-4-1

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop keymint-beanpod
    stop gatekeeper-1-0
    stop keymaster
    
on property:twrp.all.users.decrypted=true
    stop teei_daemon
    stop keymint-beanpod
    stop gatekeeper-1-0
    stop keymaster

on boot
    start health-hal-2-1
    start vendor.vibrator-default
    setprop sys.usb.config adb

service modules_mount /system/bin/modules_mount.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:twrp.decrypt.done=true
    start modules_mount
